In [ ]:
# en ligne de commande : python -m pip install mysql-connector-python

In [1]:
import mysql.connector

# Connexion à la Base de Données

In [25]:
bdd = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",

)

print(bdd)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F32AC2BBC8>

# 1. Création d ela base de données

In [28]:
mycursor = bdd.cursor()
try:
    mycursor.execute("CREATE DATABASE od")
except :
    print("Base Existante")

Base Existante

# 2. Connexion à une Base de Données

In [34]:
bdd = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="od"
)
mycursor = bdd.cursor()

# 3. Creation de  table

In [10]:
mycursor = bdd.cursor()

mycursor.execute("CREATE TABLE Enseignant (Code int, Nom VARCHAR(50), Prenom varchar(50),salaire int)")

# 4. L'instruction Insert into table

In [16]:
sql = "INSERT INTO enseignant (Code, Nom, Prenom, Salaire) VALUES (%s, %s, %s, %s)"
val = (1,"MATY", "Maman",1500000)
val1 = (2,"NAMBILA", "Ane",2000000)
val2 = (3,"KOUSSOUBE", "Souleymane",2500000)
mycursor.execute(sql, val)
mycursor.execute(sql, val1)
mycursor.execute(sql, val2)
bdd.commit()

1 record inserted.

# 5. Instruction Select

In [35]:
mycursor = bdd.cursor()
sql = "SELECT * FROM enseignant;"
mycursor.execute(sql)
data = mycursor.fetchall()
print("data:", data)

data: [(1, 'MATY', 'Maman', 1500000), (2, 'NAMBILA', 'Ane', 2000000), (3, 'KOUSSOUBE', 'Souleymane', 2500000)]

In [41]:
for x in data:
    c,n,p,s=x
    print(c,n,p,s , sep='\t')

1	MATY	Maman	1500000
2	NAMBILA	Ane	2000000
3	KOUSSOUBE	Souleymane	2500000

In [40]:
mycursor = bdd.cursor()

mycursor.execute("SELECT * FROM enseignant")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'MATY', 'Maman', 1500000)
(2, 'NAMBILA', 'Ane', 2000000)
(3, 'KOUSSOUBE', 'Souleymane', 2500000)

# 6. L'instruction Update set

In [42]:
mycursor = bdd.cursor()

sql = "UPDATE enseignant SET Prenom = 'Ange' WHERE Code = 2"
mycursor.execute(sql)
mydb.commit()

In [43]:
mycursor.execute("SELECT * FROM enseignant")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'MATY', 'Maman', 1500000)
(2, 'NAMBILA', 'Ange', 2000000)
(3, 'KOUSSOUBE', 'Souleymane', 2500000)

In [46]:
import pandas as pd
bdd = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="od"
)
df = pd.read_sql("SELECT * FROM enseignant", bdd)

In [47]:
df

   Code        Nom      Prenom  salaire
0     1       MATY       Maman  1500000
1     2    NAMBILA        Ange  2000000
2     3  KOUSSOUBE  Souleymane  2500000