In [22]:
import pandas as pd
import numpy as np

# 1-jeu

In [23]:
df=pd.DataFrame({'Index':['a','b','c','d','e','f','g','h','i','j'],'Nom':['MATY','Ben','Koussoubé','Nabila','Noussi','Guifo','Tiama','Noubissi','Obiang','Housta'], 'Score':[12.5,9.0,16.5,15.9,9.0,20.0,14.5,10.8,8.0,19.0],'Tentative':[1,3,2,3,2,3,1,1,2,1],'Qualifié':['oui','non','oui','non','non','oui','oui','non','non','oui']})
df['Nom']

0         MATY
1          Ben
2    Koussoubé
3       Nabila
4       Noussi
5        Guifo
6        Tiama
7     Noubissi
8       Obiang
9       Housta
Name: Nom, dtype: object

In [24]:
df[['Nom', 'Score', 'Qualifié']]

         Nom  Score Qualifié
0       MATY   12.5      oui
1        Ben    9.0      non
2  Koussoubé   16.5      oui
3     Nabila   15.9      non
4     Noussi    9.0      non
5      Guifo   20.0      oui
6      Tiama   14.5      oui
7   Noubissi   10.8      non
8     Obiang    8.0      non
9     Housta   19.0      oui

In [25]:
df.describe().round(3)

        Score  Tentative
count  10.000     10.000
mean   13.520      1.900
std     4.311      0.876
min     8.000      1.000
25%     9.450      1.000
50%    13.500      2.000
75%    16.350      2.750
max    20.000      3.000

In [29]:
df.groupby(by=['Nom'])